<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/staticFiles/main.css' />
</head>
  <body style="background-color: darkslategrey;">
    <div style="text-align: center ; background-color:azure ; margin-left: 20%; margin-right: 20%; padding: 20px;"  >
        <form action="/Display_IMG", method = 'GET'>
            <h1>SELECT IMAGE</h1>
            <input type="file" id="myFile" name="uploaded-file" accept=".png">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</html>